{% extends "base_project.html" %}


{% block title %}Сброс пароля пользователя{% endblock title %}

{% block header %}Сброс пароля пользователя{% endblock header %}


{% block body %}

    <form action="" method="post">
        {% csrf_token %}

        {% if form.email.errors %} {{ form.email.errors }} {% endif %}
        <div class="row my-2 text-center">
            <div class="col-6">
                <table class="table table-bordered my-2 text-start">
                    





                </table>
            </div>

        </div>
    </form>


    

{% endblock %}