{% extends "printers/base.html" %}

{% block title %}{{ title_text }}{% endblock title %}

{% block header %}{{ title_text }}{% endblock header %}

{% block body %}
<div class="container-fluid bg-body-tertiary rounded my-3 py-3">    
    <a class="btn btn-lg btn-primary" href="{% url url_return_to_the_list %}" role="button">Вернуться к списку записей &raquo;</a>
</div>

<div class="container-fluid bg-body-tertiary rounded my-3 py-3">
    <form method="post">
        {% csrf_token %}
        <div class="col-6 ">
            <h3>Подтвердите удаление записи</h3>
        </div>
        <div class="col-6 ">
            <input type = "submit" class="submitbutton_delete" name="submit" class="superbutton" name="submit" value="Да">
        <a class="btn btn-lg btn-info" href="{% url url_return_to_the_list %}">Нет</a>
        </div>        
    </form>    
</div>

{% endblock body %}






