<!-- pagination starts -->
<nav aria-label="...">
    <ul class="pagination flex-wrap justify-content-center">
      <li class="page-item disabled">
        {% if dataset.has_previous %}
          <li class="page-item">
            <a class="page-link" href="{{ request.path }}?page={{ dataset.previous_page_number }}">⇇</a>
          </li>
        {% endif %}
        {% if dataset.number > 3 %}
          <li class="page-item">
            <a class="page-link" href="{{ request.path }}?page=1">1</a>
          </li>
        {% endif %}
        {% if dataset.number > 4 %}
            <li class="page-item">
            <span class="page-link">....</span>
            </li>
        {% endif %}
      </li>

      {% for i in dataset.paginator.page_range %}
        {% if dataset.number == i %}
          <li class="page-item active">
            <span class="page-link">
              {{ i }}
              <span class="sr-only"></span>
            </span>
          </li>
          {% elif i > dataset.number|add:'-3' and i < dataset.number|add:'3' %}
            <li class="page-item">
              <a class="page-link" href="{{ request.path }}?page={{ i }}">{{ i }}</a>
            </li>
        {% endif %}
      {% endfor %}

      {% if dataset.has_next %}
        {% if dataset.number < dataset.paginator.num_pages|add:'-3' %}
            <li class="page-item">
                <span class="page-link">....</span>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ dataset.paginator.num_pages }}">{{ dataset.paginator.num_pages }}</a>
            </li>
        {% elif dataset.number < dataset.paginator.num_pages|add:'-2' %}
            <li class="page-item">
                <a class="page-link" href="?page={{ dataset.paginator.num_pages }}">{{ dataset.paginator.num_pages }}</a>
            </li>
        {% endif %}  
        <li class="page-item">
          <a class="page-link" href="?page={{ dataset.next_page_number }}"> ⇉</a>
        </li>
      {% endif %}
    </ul>
  </nav>
  <!-- pagination end -->



{% comment %} <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div> {% endcomment %}