{% extends "printers/base.html" %}

{% block title %}{{ title_text }}{% endblock title %}

{% block header %}{{ title_text }}, [всего: {{ dataset.count }}]{% endblock header %}

{% block body %}    
<div class="container-fluid bg-body-tertiary rounded my-3 py-3">        
    <a class="btn btn-lg btn-success" href="{% url 'printers_create' %}" role="button">Добавить новую запись &raquo;</a>
</div>   

    <div class="container-fluid bg-body-tertiary my-3 py-3">
    <!-- <div class="container-fluid bg-light text-white text-start my-2 py-4"> -->
        {% if dataset.count > 0 %}                
            <table class="table table-striped table-bordered text-start">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Модели принтеров</th>
                        <th>Модели картриджей</th>
                        <th>S/N OID</th>
                        <th>Распечатано страниц (всего) OID</th>
                        <th>Действия над записями</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in dataset %} <!-- отображает сведения о введенных данных -->
                        <tr>
                            <td>{{ data.id }}</td>
                            <td>{{ data.name }}</td>
                            <td>{{ data.cartridges.all|join:", " }}</td>
                            <td>{{ data.sn_oid }}</td>
                            <td>{{ data.printed_pages_all_oid }}</td>
                            <td>                                    
                                {% comment %} <a class="btn btn-sm btn-warning" href="{% url 'printers_update' id=data.id %}">Изменить  &raquo;</a>
                                <a class="btn btn-sm btn-danger" href="{% url 'printers_delete' id=data.id %}">Удалить  &raquo;</a> {% endcomment %}
                            </td>
                        </tr>
                    {% empty %}
                        <h2>Справочник "{{ title_text }}" пуст</h2>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h2>Справочник "{{ title_text }}" пуст</h2>
        {% endif %}        
    </div>

    

{% endblock body %}