{% extends "printers/base.html" %}

{% block title %}{{ title_text }}{% endblock title %}

{% block header %}{{ title_text }}, [всего: {{ dataset.count }}]{% endblock header %}

{% block body %}   
{% comment %}
        <div class="container-fluid bg-body-tertiary rounded my-3 py-3">    
            <a class="btn btn-lg btn-success" href="{% url 'service_object_create' %}" role="button">Добавить новую запись &raquo;</a>
        </div>
    
{% endcomment %}

    <div class="row mb-2">
        <div class="col-4 align-self-center">
            <a class="btn btn-lg btn-primary" href="{% url 'service_object_create' %}" role="button">Добавить новую запись &raquo;</a>
        </div>

        {% if priznak == 'bb' %}             
            <div class="col-4 align-self-center">
                <a class="btn btn-lg btn-info" href="{% url 'service_object_printed_pages_bb_list_view'%}" role="button">Сформировать общий реестр (ББ)  &raquo;</a>
            </div>
            <div class="col-4 align-self-center">
                <a class="btn btn-lg btn-success" href="{% url 'service_object_all_export_printed_pages_xls_bb'%}" role="button">Экспортировать все записи ББ xls  &raquo;</a>
            </div>
        {% elif priznak == 'bmk' %}                 
            <div class="col-4 align-self-center">
                <a class="btn btn-lg btn-info" href="{% url 'service_object_printed_pages_bmk_list_view'%}" role="button">Сформировать общий реестр (БМК)  &raquo;</a>
            </div> 
            <div class="col-4 align-self-center">
                <a class="btn btn-lg btn-success" href="{% url 'service_object_all_export_printed_pages_xls_bmk'%}" role="button">Экспортировать все записи БМК в xls  &raquo;</a>
            </div>   
        {% else %}            
            <div class="col-4 align-self-center">
                <a class="btn btn-lg btn-info" href="{% url 'service_object_printed_pages_all_list_view'%}" role="button">Сформировать общий реестр  &raquo;</a>
            </div>
            <div class="col-4 align-self-center">
                <a class="btn btn-lg btn-success" href="{% url 'service_object_all_export_printed_pages_xls'%}" role="button">Экспортировать все записи из БД в xls  &raquo;</a>
            </div>
        {% endif %} 
        {% comment %} <div class="col-6 align-self-center">
            <form action="{% url 'reestr_arhiv_tmts_search_list' %}" method="get">
                <input name="search_query" type="text" placeholder="Поиск..." >
            </form>
        </div> {% endcomment %}



    </div>





    <div class="container-fluid bg-body-tertiary my-3 py-3">
    <!-- <div class="container-fluid bg-light text-white text-start my-2 py-4"> -->
        {% if dataset.count > 0 %}                
            <table class="table table-striped table-bordered text-start">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Объекты_обслуживания</th>
                        <th>Действия над записями</th>
                        <th>Реестр распечатанных страниц (формирование / экспорт)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in dataset %} <!-- отображает сведения о введенных данных -->
                        <tr>
                            <td>{{ data.id }}</td>
                            <td>{{ data.service_object_name }}</td>
                            <td>                                    
                                <a class="btn btn-sm btn-warning" href="{% url 'service_object_update' id=data.id %}">Изменить  &raquo;</a>
                                <a class="btn btn-sm btn-danger" href="{% url 'service_object_delete' id=data.id %}">Удалить  &raquo;</a>
                            </td>
                            <td>    
                                <a class="btn btn-sm btn-info" 
                                    href="{% url 'service_object_printed_pages_list_view' id=data.id %}">Сформировать реестр  &raquo;
                                </a>

                                <a class="btn btn-sm btn-success" 
                                    href="{% url 'service_object_export_printed_pages_xls' id=data.id %}">Экспорт в xls  &raquo;
                                </a>                               
                            </td>
                        </tr>
                    {% empty %}
                        <h2>Справочник "{{ title_text }}" пуст</h2>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h2>Справочник "{{ title_text }}" пуст</h2>
        {% endif %}        
    </div>

       

{% endblock body %}